.overlay-editItem {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0,0,0,0.6);
    z-index: 2;
    position: fixed;
}

.editItemModal {
    min-width: 450px;
    max-width: 450px;
    background-color: #fc9cfe;
    border: 2px solid #fff;
    border-radius: 10px;
    position: fixed;
    transform: translate(50%, 50%);
    bottom:50%;
    right:50%;
    z-index: 3;
    padding: 2rem;
 }

 .saveBtn{
    font-size: 17px;
    border: 2px solid white;
    border-radius: 6px;
    transition: all 150ms ease;
    float: right;
  }
  .cancelBtn {
    font-size: 17px;
    border: 2px solid white;
    border-radius: 6px;
    transition: all 150ms ease;
    float: right;
  }
  .cancelBtn:hover {
    background: #5b6063 !important;
  }
  
  .saveBtn:hover {
    background: #5b6063 !important;
  }


  .editItem-actions {
    display:flex;
    justify-content: flex-end;
    align-items: stretch;
    gap: 8px;
    margin-top: 25px;
  }
  .edit-item-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: left;
  }

  .editExpenseInput label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
  }
  
  .editExpenseInput input {
    font: inherit;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    width:100%;
    max-width: 100%;
    -webkit-appearance: none;
  }

  @media(max-width:530px) {
    .editItemModal {
        min-width:100vw;
        max-width: 100vw;
        height: fit-content;
        -webkit-transform: none;
        transform: none;
        border: none;
        border-top: 2px solid #fff;
        border-radius: 2px;
        bottom: 0;
        right: 0;
    }

  }
